

body{
    background-color: #EAE8FE;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.left_side , .right_side{
    margin: 68px 14px 170px;
}
.logo{
    margin:0 auto;
}

.logo img{
    display:block;
    margin: auto;
    width: 386px;
    height: 164px;
}

.left_side{
    background-color: #fff;
    width: 360px;
    height: 545px;
}
.menu{
    width:360px;
}

.menu_list{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 31px 27px 20px;
    gap: 12px;
    
}

.menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 94px;
    height: 130px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 9px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    position: relative

}
.menu_item:hover{
    outline: 3px solid #6327FE;
}
.soldOut:hover{
    outline: none
}

.soldOut::after{
    content: "품절";
    position: absolute;
    inset: 0;
    color: transparent;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(./img/Sold-out.png);
    background-position: center;
    background-size: 57.51px 44.85px;
    background-repeat: no-repeat ;
    border-radius: 5px;
}


.menu_item img{
    width: 36px;
    height: 65px;
    box-sizing: border-box;

}
.price{
    width: 70px;
    height: 22px;
    background: #6327FE;
    border-radius: 50px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
}

.left_bottom{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    gap: 12px;
}

.btn{
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    width: 94px;
    margin-left: 12px;
}
.btn:hover{
    font-weight: 700;
    border: 3px solid #6327FE;
    background-color: #6327FE;
    color: #fff;
}
.change{
    width: 360px;
    display: flex;
    justify-content: center;
}

.change_txt{
    width: 200px;
    height: 33px;
    background-color: #EAE8FE;
    border-radius: 5px;
    line-height: 33px;
    font-weight: bold;
    padding-left: 10px;
}
.change_txt span{
    padding-left: 40%;
}
.change_btn{
    height: 33px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 0;
}
.deposit{
    width: 360px;
    display: flex;
    justify-content: center;

}
.deposit_input{
    width: 200px;
    height: 33px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 0;
    padding-left: 10px;

}
.deposit_btn{
    height: 33px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.select_lists{
    width: 360px;
    display: flex;
    justify-content: center;
}
.select_list{
    width: 210px;
    height: 106px;
    overflow: auto;
    background-color: #EAE8FE;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.select_list::-webkit-scrollbar {
    width: 4px;
  }
  .select_list::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
  }


.achive_btn{
    height: 106px;
    background-color: #6327FE;
    color: #fff;
    border-radius: 5px;
    border: none;
}
.achive_btn:hover{
    background-color: #fff;
    color: #6327FE;
    border: 4px solid #6327FE;
}
.select_item{
    width: 180px;
    height: 46px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    margin: 6px auto;
    border-radius: 5px;
    line-height: 46px;
    font-size: 9px;
}
.select_item img{
    width: 18px;
    height: 33px;
    margin: auto 0;
}

.count{
    margin: auto 0;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}
.right_side{
    width : 360px;
    height: 545px;
}
.money{
    width: 360px;
    background-color: #fff;
    height: 50px;
    position: relative;
}
.money_violet{
    width: 306px;
    height: 32px;
    background-color: #EAE8FE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    line-height: 32px;
    padding-left: 10px;
    font-weight: 700;
}
.money_violet span{
    padding-left: 170px;
}

.achive{
    width: 360px;
    height: 474px;
    background-color: #fff;
    margin-top: 20px;
}
.achive_txt{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding-top: 25px;
    padding-bottom: 12px;
}
.achive_list{
    width: 306px;
    height: 364px;
    background-color: #EAE8FE;
    margin: auto;
    padding-top: 12px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}
.achive_item{
    display: flex;
    width: 270px;
    height: 46px;
    background-color: #fff;
    margin:6px auto;
    font-size: 9px;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    border-radius: 5px;
    
}

.achive_item img{
    width: 18px;
    height: 33px;
    margin: auto 0;
}
.left_item{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.total{
    text-align: right;
    margin: 6px 27px;
    font-weight: 700;
    font-size: 12px;
}

@media screen and (max-width:480px) {
    body{
        background-color: #fff;
    }
    .wrapper{
        width: 100%;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .logo img{
        width: 60vw;
    }
    .left_side{
        margin-bottom: 10px;
    }
    .right_side{
        margin-top: 10px;
    }
}