body{
    background-color: #EAE8FE;
    width: 1440px;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.left_side , .right_side{
    margin: 0 12px;
}
.logo{
    margin:0 auto 68px;
}

.logo img{
    display:block;
    margin: auto;
    width: 386px;
    height: 164px;
}

.left_side{
    background-color: #fff;
    width: 360px;
    height: 545px;
}
.menu{
    width:100%;
    margin: 0 27px;
}

.menu_list{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu_item {
    width: 94px;
    height: 130px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin: 12px;
}
.menu_item img{
    width: 36px;
    height: 65px;
}

.change{
    width: 100%;
    display: flex;
    margin: 0 27px;
}

.change_txt{
    width: 280px;
    height: 38px;
    background-color: #EAE8FE;
    margin-right: 12px;
}
.change_btn{
    width: 94px;
    height: 33px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
border-radius: 5px;
border: none;
}
.deposit{
    width: 100%;
    display: flex;
}
.select_lists{
    width: 100%;
    display: flex;
}

.select_item img{
    width: 18px;
    height: 33px;
}

.right_side{
    width : 360px;
    height: 545px;
}
.money{
    background-color: #fff;
    height: 50px;
}
.money_violet{
    width: 306px;
    height: 32px;
    background-color: #EAE8FE;
    text-align: center;
    margin: auto;
}

.achive_item img{
    width: 18px;
    height: 33px;
}